<html>
<head>
<title>{{ title }}</title>
<link rel='icon' href="{{ url('static', filename='img/favicon.ico') }}" type='image/x-icon'>
<link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
<link href="{{ url('static', filename='css/style.css') }}" rel=stylesheet type=text/css>
</head>
<body>
<div class="container">
<img src="{{ url('static', filename='img/xdevbot_logo_white.png') }}" alt='Xdev'>
<h1>{{ title }}</h1>
{% if subtitle %}
<h2>{{ subtitle }}</h2>
{% endif %}
<p>{{ content }}</p>
</div>
</body>
</html>
